/* ==========================================
   RESPONSIVE CSS
   HARAS PREMIUM
========================================== */



/* ==========================================
   TABLETS
========================================== */


@media (max-width:1024px){



.container{

padding-left:30px;
padding-right:30px;

}





.hero-title{

font-size:4.5rem;

}





h1{

line-height:1.1;

}





nav{

padding-top:20px;
padding-bottom:20px;

}





.horse-card img,
.card-premium img{


height:340px;


}





}










/* ==========================================
   MOBILE
========================================== */


@media (max-width:768px){





body{

overflow-x:hidden;

}






/* CONTAINER */


.container{


padding-left:20px;

padding-right:20px;


}








/* NAVBAR */


header nav{


padding-top:18px;

padding-bottom:18px;


}





header img{


width:110px;


}








/* HERO */


section:first-of-type{


height:100vh;


}




.hero-title{


font-size:3.2rem;

line-height:1.15;


}



.hero-content p{


font-size:1rem;

line-height:1.6;


}







.hero-content{


padding-left:15px;

padding-right:15px;


}








/* BOTÕES */


.btn-primary,
.btn-gold{


width:100%;

text-align:center;


padding:16px 25px;


}







/* MENU MOBILE */


#mobileMenu{


animation:

mobileMenu .4s ease;


}




@keyframes mobileMenu{


from{


opacity:0;

transform:

translateY(-20px);


}



to{


opacity:1;

transform:

translateY(0);


}



}









/* TÍTULOS */


h2{


font-size:2.5rem !important;


line-height:1.2;


}








/* CAVALOS */


.horse-card,
.card-premium{


border-radius:20px;


}





.horse-card img,
.card-premium img{


height:300px;


}





.horse-card div,
.card-premium div{


padding:25px;


}







/* WHATSAPP */


.whatsapp-button{


width:58px;

height:58px;


right:20px;

bottom:20px;


font-size:25px;


}









/* TEXTO */


.text-xl{


font-size:1rem;


}









/* ESPAÇAMENTOS */


.py-32{


padding-top:80px;

padding-bottom:80px;


}



.py-40{


padding-top:90px;

padding-bottom:90px;


}





}









/* ==========================================
   CELULARES PEQUENOS
========================================== */


@media(max-width:480px){





.hero-title{


font-size:2.6rem;


}





.hero-content span{


font-size:.75rem;


letter-spacing:6px;


}





h2{


font-size:2rem !important;


}





.horse-card img,
.card-premium img{


height:250px;


}





nav{


padding-left:15px;

padding-right:15px;


}






}